<h1>{{title}}</h1>
<h2>My favorite hero is: {{myHero.name}}</h2>
<p>Heroes:</p>
<ul>
<!-- #hero is a local template var -->
  <li *ngFor="#hero of heroes">
    {{ hero.name }}
  </li>
</ul>
<p *ngIf="heroes.length > 3">ZOMG, so many heroes!</p>
<click-me></click-me>
<hr />
<h3>A little tour of heroes</h3>
<little-tour></little-tour>
<hr />
<h3>Give me some keys!</h3>
<keyup2></keyup2>
<hr />
<h3>Well, this one you have to Enter</h3>
<keyup3></keyup3>
<hr />
<h3>And this one you have to Enter or just move away from the box</h3>
<keyup4></keyup4>
<hr />
<h3>Actually, this one is better:</h3>
<loop-back></loop-back>
